__pycache__
*.pyc
*.pyo
*.pyd
.Python
.venv
venv
env
__pycache__
*.egg-info
dist
build
data
dataset*
logs
.tmp
.mypy_cache
.vscode
.idea
.git
.gitignore
.dockerignore
docker/Dockerfile*
tests/assets/*
