# config_aug.yaml (UTF-8)
dataset:
  input_images_dir: "C:/Users/USER/OneDrive/Desktop/Dataset/Data/images" 
  input_labels_dir: "C:/Users/USER/OneDrive/Desktop/Dataset/Data/labels"
  output_images_dir: "dataset_aug/images"
  output_labels_dir: "dataset_aug/labels"
  logs_dir: "logs"
  target_total_images: 100   # Any number of dataset you want

validation:
  min_visibility: 0.1
  # min_area: 100
  min_bbox_width: 0.003
  min_bbox_height: 0.003
  coord_min: 0.0
  coord_max: 1.0
  coord_tolerance: 0.05

quality_control:
  black_frame_threshold: 0.95
  min_brightness: 10
  max_brightness: 245
  target_discard_rate: 0.12

augment_passes:
  - name: "shear_bbox_localized_mid"
    type: "custom"
    weight: 0.20      # 20% of total augmentations
    pipeline:
      - transform: "BboxShearTransform"
        params:
          shear_x_range: [-40, 40]
          shear_y_range: [-10, 10]
          direction: "random"
          bbox_prob: 0.8
          blend_edges: true
          motion_blur_prob: 0.6
          motion_blur_intensity: "medium"
          padding_ratio: 0.2  # 20% expansion of bbox

  - name: "shear_bbox_localized_extreme"
    type: "custom"
    weight: 0.12      # 12% of total augmentations
    pipeline:
      - transform: "BboxShearTransform"
        params:
          shear_x_range: [-60, 60]
          shear_y_range: [-20, 20]
          direction: "random"
          bbox_prob: 0.85
          blend_edges: true
          motion_blur_prob: 0.7
          motion_blur_intensity: "high"
          padding_ratio: 0.2 # 20 % expansion on bbox

  - name: "shear_fullframe"
    type: "standard"
    weight: 0.08      # 8%
    pipeline:
      - transform: "Affine"
        params:
          shear: [-8, 8]
          rotate: [-3, 3]
          scale: [0.95, 1.05]
          translate_percent: [0.02, 0.03]
          p: 0.9

  - name: "bbox_occlusion_and_motion"
    type: "custom"
    weight: 0.15
    pipeline:
      - transform: "BboxLocalizedOcclusion"
        params:
          occlusion_type: "geometric"     
          intensity: "high"                
          bbox_prob: 0.5                  
          realistic_shapes: false         
          partial_coverage: true          
          occlusion_color: "auto"         
          p: 0.9                          
          
      - transform: "AdaptiveMotionBlur"
        params:
          kernel_size_range: [5, 11]      
          auto_direction: true            
          intensity: "low"                
          bbox_prob: 0.6                 
          p: 0.6                          

  - name: "color_jitter_bbox"
    type: "custom"
    weight: 0.10
    pipeline:
      - transform: "BboxColorJitterTransform"
        params:
          brightness_range: [0.8, 1.2]   
          contrast_range: [0.8, 1.2]     
          saturation_range: [0.8, 1.2]   
          bbox_prob: 0.85
          p: 0.9

  - name: "standard_general"
    type: "standard"
    weight: 0.30
    pipeline:
      - transform: "HorizontalFlip"
        params: { p: 0.5 }
      - transform: "RandomBrightnessContrast"
        params: { brightness_limit: 0.2, contrast_limit: 0.2, p: 0.5 }
      - transform: "GaussNoise"
        params: 
          var_limit: [10, 50]
          p: 0.2 
      - transform: "MotionBlur"
        params: { blur_limit: 5, p: 0.2 }

  - name: "color_monochrome"
    type: "standard"
    weight: 0.05
    pipeline:
      # Color transforms don't need bbox tracking
      - transform: "ToGray"
        params: { p: 0.3 }
      - transform: "HueSaturationValue"
        params: { hue_shift_limit: 15, sat_shift_limit: 20, val_shift_limit: 10, p: 0.7 }
      - transform: "RGBShift"
        params: { r_shift_limit: 15, g_shift_limit: 15, b_shift_limit: 15, p: 0.4 }
      - transform: "CLAHE"
        params: { clip_limit: 2.0, tile_grid_size: [8, 8], p: 0.3 }
      - transform: "ColorJitter"
        params: { brightness: 0.2, contrast: 0.2, saturation: 0.3, hue: 0.1, p: 0.5 }